* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
html {
  background: #e5e5e5;
}

body {
  width: 100%;
  max-width: 1280px;

  padding: 0 36px 0 36px;

  margin-inline: auto;

  background-color: #ffffff;

  font-family: "Open Sans", sans-serif;
}

button {
  border: none;
  outline: none;
}

header {
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header .logo-shoes {
  width: 180px;

  cursor: pointer;
}

.menu-top {
  margin: 0;
  padding: 0;

  display: flex;

  list-style: none;
}

.menu-top li a {
  padding: 16px;

  text-transform: uppercase;
  text-decoration: none;

  color: #777777;

  cursor: pointer;

  transition: transform 0.5s;
}

.menu-top li a:hover {
  transform: rotate(45deg);
}

.banner-top {
  height: 235px;
  width: 100%;
}

.banner-top img {
  width: 100%;
}

h1.choice-style-title {
  text-align: center;

  font-size: 60px;
  font-weight: 800;

  margin: 60px 0 60px 0;
}

.styles-photos {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sale-off {
  min-height: 640px;
  height: auto;

  margin: 40px -32px 40px -32px;

  padding: 16px;

  background-color: #c2185b;
}

.sale-off h2 {
  color: #fff;

  text-align: center;

  font-size: 44px;
  font-weight: 800;

  padding: 40px 0;
}

.cards-sales-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 16px;
}

.sale-off .card-sale {
  width: 260px;
  height: 380px;

  background-color: #ffffff;
}

.card-sale .card-sale-title {
  text-align: center;

  margin-top: 12px;

  text-transform: uppercase;

  font-size: 14px;
}

.card-sale .card-sale-price {
  display: block;
  margin-left: 25px;
}

.highlight-fashion {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 256px auto;

  grid-template-areas: "description", "photoprimary", "photosecondy",
    "photoprimary";
  gap: 16px;
}

.highlight-fashion .description {
  grid-area: "description";
}

.highlight-fashion .photo-primary {
  grid-area: "photo-primary";
}

.highlight-fashion .photo-secondary {
  grid-area: "photo-secondary";
}

.description .title {
  width: 400px;
  font-size: 30px;

  text-transform: uppercase;

  font-weight: 600;
}

.description .btn-show-details {
  display: block;

  width: 400px;
  height: 99px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 16px;

  font-size: 36px;

  text-decoration: none;

  background-color: #c2185b;
  color: #fff;

  cursor: pointer;
}

.contact {
  margin: 46px 0;

  padding-top: 36px;
}

.contact h4 {
  font-size: 39px;

  font-weight: 600;
  margin-bottom: 36px;

  color: #575757;
}

.contact-container {
  display: flex;

  gap: 32px;

  color: #9b9b9b;
}

.contact-container div {
  word-wrap: break-word;
}

.contact-form .input-wrapper {
  margin-bottom: 18px;
}

.input-wrapper label {
  display: block;
  margin-bottom: 8px;
}

.contact-form > form input {
  width: 538px;
  padding: 4px;

  border: 1px solid #9b9b9b;
}

.checks-wrapper p,
.radios-wrapper p {
  margin: 16px 0;
}

.checks,
.radios {
  display: flex;
}

.checks-wrapper label.check-label-wrapper,
.radios label {
  display: flex;
  align-items: center;

  margin-right: 14px;
}

.checks-wrapper label.check-label-wrapper input,
.radios-wrapper .radios label input {
  width: 15px;
  height: 15px;

  margin-right: 8px;

  background-color: #b1afaf;
}
.radios-wrapper {
  margin-top: 18px;
}

.message-wrapper {
  margin: 18px 0;
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.message-wrapper textarea {
  border: 1px solid #9b9b9b;
  box-sizing: border-box;

  resize: none;
  outline: none;

  padding: 8px;

  color: #9b9b9b;
}

.upload-wrapper {
  display: flex;
  align-items: center;
}

.upload-wrapper #curriculo {
  display: none;
}

.upload-wrapper label {
  display: inline-block;
  width: 118px;
  background-color: #c4c4c4;
  color: #fff;

  padding: 3px 6px;

  text-align: center;

  margin: 0 12px;

  cursor: pointer;

  transition: all 0.4s;
}

.upload-wrapper label:hover {
  background-color: rgb(182, 179, 179);
}

.contact-form input[type="button"] {
  margin: 16px 0;
  background-color: #c2185b;
  color: #fff;

  font-size: 18px;
  font-weight: bold;

  padding: 10px 0;
}

.contact-description {
  color: #575757;
}

.contact-description p {
  margin-bottom: 16px;
}

footer {
  min-height: 248px;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  padding: 16px 32px;

  margin: 40px -32px 40px -32px;

  background-color: #c2185b;
  color: #fff;
}

footer > div {
  flex: 1;
}

.about-footer {
  width: 280px;

  font-size: 15px;

  font-weight: 400;
}

.about-footer img {
  height: 100px;
}

.nav-footer {
  display: flex;
  justify-content: space-evenly;

  margin-top: 18px;
}

.nav-footer h5 {
  font-size: 20px;

  font-weight: 600;
}

.categories ul,
.nav-footer ul {
  border: 0;
  padding: 0;

  list-style: none;
}

.categories ul a,
.nav-footer ul a {
  display: block;
  color: #fff;

  font-size: 15px;
  font-weight: 400;

  padding: 3px;

  text-decoration: none;
}
